.scrollContainer {
  width: 15vw;
  height: 37.5em;
  border-color: #2C42D1;
  border-width: 15px;
}

.scrollContainer h1 {
  text-align: center;
}

.newsNav {
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.newsNav h1 {
  opacity: 0;
  animation: newsnavfade 1s linear 0.3s forwards;
}

.newsList {
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: newsnavfade 1s linear 0.6s forwards;
}

.newsItem {
  text-decoration: none;
  text-align:center;
  font: 500px;
  width: 90%;
  height: 10%;
  background: -webkit-linear-gradient(to right, #1be06d, #168745);
  background: linear-gradient(to right, #1be06d, #168745);
  border: 0.1em solid black;
  border-radius: 5%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createNewsButton {
  text-decoration: none;
  text: center;
  height: 4%;
  width: 45%;
  opacity: 0;
  color: black;
  background: lightblue;
  border: 1px solid black;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: newsnavfade 1s linear 2s forwards;
}

@keyframes newsnavfade {
  100% {
    opacity: 1;
  }
}

.messageNav {
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.messageListTitle {
  text-align: center;
  width: 0%;
  color: rgba(103, 70, 224, 0);
  background-color: rgba(103, 70, 224, 0.8);
  border: 0.2em ridge tan;
  border-radius: 0.3em;
  animation: messagetitleexpand 0.2s linear forwards, messagetitleload 0.5s linear forwards 0.2s;
}

// 52, 235, 232

@keyframes messagetitleexpand {
  100% {
    width: 80%;
  }
}

@keyframes messagetitleload {
  0% {
    color: rgba(103, 70, 224, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.messageList {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.messageList{
  @for $i from 1 through 5 {
    div:nth-of-type(#{$i}) {
      animation-delay: .3s * $i;
    }
  }
}

.messageItemLink {
  text-decoration: none;
  background: #2980B9;
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  border-radius: 0.2em;
}

.messageItem {
  width: 0%;
  height: 13%;
  overflow: hidden;
  background-color: rgba(29, 210, 219, 0.6);
  border: 0.1em solid black;
  border-radius: 0.4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  opacity: 0;
  transform: rotate(270deg);
  transition: all 0.3s linear 0s;
  animation: messageitemload 1s linear forwards, messageitemrotate 0.5s linear forwards, messageitemexpand 1s ease-in forwards, messageitemhover 1s linear infinite;
  animation-play-state: running, running, running, paused;
  &:hover {
    background-color: rgba(149, 240, 245, 0.8);
    border: 0.1em outset rgba(125, 2, 247, 1);
    animation-play-state: running, running, running, running;
  }
}

@keyframes messageitemload {
  100% {
    opacity: 1;
  }
}

@keyframes messageitemrotate {
   0% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes messageitemexpand {
  50% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes messageitemhover {
  0% {
    box-shadow: 0 0 0 rgba(125, 2, 247, 1);
  }
  50% {
    box-shadow: 0 0 0.6em rgba(125, 2, 247, 1);
  }
  100% {
    box-shadow: 0 0 0 rgba(125, 2, 247, 1);
  }
}

.messageItemText {
  text-align: center;
  width: 70%;
}

.messageItemUser {
  text-align: center;
  margin-top: 5%;
}

.messageItemPortrait {
  border-radius: 50%;
}

.addMessageButton {
  text-align: center;
  text-decoration: none;
  height: 5%;
  width: 85%;
  color: black;
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 0.3em;
  padding-top: 5%;
  opacity: 0;
  animation: messagebuttonload 1s linear 2s forwards;
  transition: all 0.3s linear 0s;
  &:hover {
    background-color: rgba(71, 179, 230, 0.5);
  }
}

@keyframes messagebuttonload {
  100% {
    opacity: 1;
  }
}

.messageForm {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.messageForm h2 {
  text-align: center;
  width: 80%;
  height: 10%;
  background-color: rgba(100, 187, 217, 0.5);
  border-radius: 0.4em;
  opacity: 0;
  animation: messageformload 1s linear 0.3s forwards;
}

.messageForm textarea {
  width: 85%;
  height: 55%;
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 0.3em;
  opacity: 0;
  animation: messageformload 1s linear 0.6s forwards;
}

.submitMessageButton {
  width: 75%;
  height: 10%;
  background-color: lightblue;
  border-radius: 0.3em;
  opacity: 0;
  animation: messageformload 1s linear 0.9s forwards;
}

@keyframes messageformload {
  100% {
    opacity: 1;
  }
}