.appViewport {
  display: flex;
  justify-content: space-around;
}

header{
  text-align: center;
}

.navContainer{
  width: 200px;
  height: 600px;
  border: solid black 2px;
}

.displayContainer{
  width: 600px;
  height: 600px;
  border: solid black 2px;
}

.scrollContainer{
  width: 200px;
  height: 600px;
  border: solid black 2px;
}